<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="menu">
    <button id="register-button" class="menu-button">Register</button>
    <button id="login-button" class="menu-button">Login</button>
</div>

<div id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>


    <!-- Modal for Register -->
<div id="register-content" class="modal-content">
    <div class="modal">
        <span class="close" onclick="closeModal('register-content')">&times;</span>
        <h1>Sign up</h1>
        <form method="POST" action="/">
            <label for="register-username">Username:</label>
            <input type="text" id="register-username" name="username" required>
            <div id="username-messages">
                {% if username_valid is not none and not username_valid %}
                    <p class="message-invalid">Invalid username</p>
                {% endif %}
            </div>
            <label for="register-password">Password:</label>
            <input type="password" id="register-password" name="password" required>
            <button type="submit" name="register">Submit</button>
        </form>
    </div>
</div>



    <!-- Modal for Login -->
    <div id="login-content" class="modal-content">
        <div class="modal">
            <span class="close" onclick="closeModal('login-content')">&times;</span>
            <h1>Log in</h1>
            <form method="POST" action="/">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="username" required>
                <label for="login-password">Password:</label>
                <input type="password" id="login-password" name="password" required>
                <button type="submit" name="login">Login</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


