<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Głosowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Flash messages block -->
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <!-- Page content -->
    <h1 style="text-align: center; margin-bottom: 20px;">Głosowanie</h1>
    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Czas trwania</th>
                <th>Ilość oddanych głosów</th>
                <th>Opis</th>
                <th>Ocena</th>
                <th>Głosuj</th>
            </tr>
        </thead>
        <tbody>
            {% for survey_id, survey in surveys.items() %}
                <tr>
                    <td>{{ survey.title }}</td>
                    <td>{{ survey.start_time.strftime('%Y-%m-%d %H:%M') }} - {{ survey.end_time.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ survey.votes.values() | sum }}</td>
                    <td>{{ survey.description }}</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="survey_id" value="{{ survey_id }}">
                            {% for i in range(1, survey.scale + 1) %}
                                <input type="radio" id="score_{{ survey_id }}_{{ i }}" name="score" value="{{ i }}" required>
                                <label for="score_{{ survey_id }}_{{ i }}">{{ i }}</label>
                            {% endfor %}
                    </td>
                    <td><button type="submit">Głosuj</button></td>
                        </form>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Brak dostępnych ankiet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
